*__pycache__*
*ipynb_checkpoints*
*.ipynb
*.out
*lightning_logs*
*.log
*.csv
*.json
*.yaml
*.yml
*.txt
*.egg-info*

# backup files
*.json.backup_*
*.csv.backup_*
*.backup_*

# log
*.out
*.err

# raw data
/mimic-iv-clinical-database-demo-data
/MIMICIV_for方遠_20260429

# results
/3_results

# local git worktrees
/.worktrees/
.worktrees/
