*__pycache__*
*ipynb_checkpoints*
*.ipynb
*.out
*lightning_logs*
*.log
*.csv
*.json
*.yaml
*.yml
*.txt
*.egg-info*

# log
*.out
*.err

# raw data
/mimic-iv-clinical-database-demo-data

# results
/3_results

# local git worktrees
/.worktrees/
